.header-one-icon {
    font-size: 4em;
    color: var(--yellow);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.header-two-icon {
    font-size: 3.5em;
    color: var(--yellow);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.header-two-icon {
    font-size: 3em;
    color: var(--yellow);
    margin-top: 50px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.icon-inline-container {
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
}