h1 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 3em;
    letter-spacing: .1em;
    margin-top: 50px;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 2.2em;
    letter-spacing: .1em;
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: .1em;
    margin-top: 50px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.4em;
    letter-spacing: .1em;
    margin-top: 50px;
    margin-bottom: 10px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 1.3em;
    letter-spacing: .1em;
    margin-top: 40px;
    margin-bottom: 10px;
}

h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

h6{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.first-line-caps::first-line {
    font-variant: small-caps;
    font-size: 1.2em;
}

.earth {
    color: var(--bg-lightest);
}

.air {
    color: var(--yellow);
}

.water {
    color: var(--blue);
}

.fire {
    color: var(--red);
}

.bone {
    color: var(--fg-darkest);
}

.soul {
    color: var(--purple);
}