.markdown-embed:not(.hover-popover .markdown-embed),
.file-embed {
  margin-inline-start: 0px !important;
}

.canvas-node-container {
  background-color: transparent;
}

.canvas-node-container .markdown-preview-view {
  font-size: 0.5rem !important;
}

/* .markdown-source-view.node-insert-event {
  font-size: 0.5rem !important;
} */
